<% include partials/header %>

    <h1><%= title %></h1>

		<p>So...you want to submit a compliment, huh. Well this is the place to do so.</p>

    <form name="compliment_form" action="/" method="POST">
      <input type="text" name="compliment" placeholder="Input compliment here...">
      <input type="submit" name="submit">
    </form>

<% include partials/footer %>