<% include partials/header %>

    <h1><%= title %></h1>

    <div class="wrap">
  		<p>Hello, <%= name %>! Welcome to <%=title%></p>
  		<p class="comp"><%= compliment %></p>
      <a href="./compliment_form"><button>Another!</button></a>
      <a href="./compliment_form"><button>Submit a Compliment</button></a>
    </div>

<% include partials/footer %>
