@import url('https://fonts.googleapis.com/css?family=PT+Sans');


body {
  padding: 50px;
  font: 14px 'PT Sans', sans-serif;
  color: white;
  margin: 0 25%;
}

.comp {
  font-size: 200%;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

a {
  color: #00B7FF;
}


.wrap {
  background: rgba(211,211,211, 0.8);
  padding: 5%;
  border: 2px dashed white;
}

h1 {
  text-shadow: 4px 4px 2px rgba(211,211,211, 0.8);
}

p, h1, footer {
  text-align: center;
}

button, .submit {
  margin-top: 5%;
  margin-left: 18%;
  font-size: 1em;
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 0.8em;
  border: 2px solid white;
}

button:hover, .submit:hover {
  background-color: darkgrey;
}

footer {
  padding-top: 25%;
}

/*compliment submit form styling*/
.text-box{
  padding: 4%;
}

form{
  background: rgba(211,211,211, 0.8);
  padding: 5%;
  border: 2px dashed white;
}

form input{
  margin-left: 20%;
}
